<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type='text/css' href='style.css'>
  </head>
  <body>
    <ul>
      <% messages.forEach(function(message) { %>
        <li>
          Message: <%= message.text %>
          Author: <%= message.user %>
          added: <%= message.added %>
        </li>
      <% }); %>
    </ul>
    <a href='/new'>New Message</a>
  </body>
</html>
